.profile__job {
    color: #FFFFFF;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 121%;
    margin-top: 16px;
    max-width: 336px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:767px) {
    .profile__job {
        font-size: 14px;
        max-width: 282px;

    }
}